body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}

#charts .menu span {
  font-size: 12px;
  cursor: pointer;
}

#charts .container, #charts .layer {
  width: 1000px;
  height: 200px;
}

#charts .chart3.container, #charts .chart3 .layer, #charts .chart4.container, #charts .chart4 .layer {
  height: 350px;
}

#charts .chart {
  position: relative;
}

/* Connectors */
path.connector {
  stroke: #aaa;
  width: 1px;
}


/* colors */
#charts .chart1 .labels span.male {
  color: #aaa;
}
#charts .chart1 .labels span.female {
  color: lightgreen;
}

/* Hovering */
#charts .chart1 .labels .label-group span {
  cursor: pointer;
}
#charts .chart1 .labels .label-group span.hover {
  color: indianred;
}
#charts .chart1 svg path.label-group.hover {
  stroke: indianred;
}
#charts .chart1 svg g.points circle.hover {
  stroke: indianred;
  fill: indianred;
} 
}