body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	width: 1200px;
	margin: 0 auto;
	font-size: 14px;
}

#charts .menu span {
  font-size: 12px;
  cursor: pointer;
}

#charts {
  width: 1200px;
}

#charts .chart {
  position: relative;
  height: 300px;
  margin-bottom: 50px;
}

/*#charts .chart2 {
  height: 200px;
}
*/
#charts .node p {
  color: white;
  font-size: 12px;
}

#charts .node h1 {
  font-size: 14px;
}